__pycache__/
*.pyc
.venv/
.vscode/
.DS_Store

# silver intermedi, mai versionati
data/silver/
data/silver_trains/

# eventuali database locali
*.duckdb

# gold parquet non necessari
data/gold/**/*.parquet

# bronze: ignoriamo solo csv non compressi
data/bronze/**/*.csv

# ma tracciamo sempre questi
!data/bronze/**/*.csv.gz
!data/bronze/**/*.json

# GitHub Pages pubblica da docs
site/

!.gitkeep
